@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>register</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            <p>Email</p>
        </dt>
        <dd>
            <input type="text" id="registerEmail" class="input-lg"/>
        </dd>

        <dt>
            <p>First Name</p>
        </dt>
        <dd>
            <input type="text" id="registerFirstName" class="input-lg"/>
        </dd>

        <dt>
            <p>Last Name</p>
        </dt>
        <dd>
            <input type="text" id="registerLastName" class="input-lg"/>
        </dd>
        <dt>
            <p>Password</p>
        </dt>
        <dd>
            <input type="password" id="registerPass" class="input-lg"/>
        </dd>
        
        <dt>
            <p>Confirm password</p>
        </dt>
        <dd>
            <input type="password" id="registerConfirmPass" class="input-lg"/>
        </dd>

        <dt>
            <button id="registerButton" class="btn-lg">Register</button>
        </dt>
        <dd></dd>
    </dl>

</div>

<script src="~/Scripts/UserScripts/register.js"></script>
