@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>register</h2>

<div>
    <label>Email</label>
    <input type="text" id="registerEmail" />
    <br>

    <label>First Name</label>
    <input type="text" id="registerFirstName" />
    <br>

    <label>Last Name</label>
    <input type="text" id="registerLastName" />
    <br>

    <label>Password</label>
    <input type="password" id="registerPass" />
    <br>

    <label>Confirm password</label>
    <input type="password" id="registerConfirmPass" />
    <br>

    <button id="registerButton">Register</button>
</div>

<script src="~/Scripts/UserScripts/register.js"></script>
