@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>login</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            <p>User name</p>
        </dt>
        <dd>
            <input type="text" id="username" class="input-lg"/>
        </dd>
        <dt>
            <p>Password</p>
        </dt>
        <dd>
            <input type="password" id="pass" class="input-lg"/>
        </dd>
        
        <dt>
            <button id="loginButton" class="btn-lg">Login</button>
        </dt>
        <dd></dd>
    </dl>
</div>

<script src="~/Scripts/UserScripts/login.js"></script>
