@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>add a bike</h2>

<div>
    <label>Name of article</label>
    <br> 
    <input type="text" id="addNameOfArticle"/>
    <br> 
    
    <label>Description</label>
    <br> 
    <input type="text" id="addDescription"/>
    <br> 

    <label>Price</label>
    <br> 
    <input type="number" id="addPrice"/>
    <br> 

    <label>Model</label>
    <br> 
    <input type="text" id="addModel"/>
    <br> 

    <button id="addBikeButton">Add bike</button>
</div>

<script src="~/Scripts/UserScripts/add_bike.js"></script>
