@using System.Web.Script.Serialization
@{
    ViewBag.Title = "Bikes";
    Layout = "~/Views/Shared/_Layout.cshtml";

    
}

<h2>Bikes</h2>

<ul name="listOfBikes">

</ul>

<script src="~/Scripts/UserScripts/bike_listing.js"></script>