@using System.Web.WebSockets
<div class="jumbotron">
    <h1>Bike portal</h1>
    <p class="lead">Bike portal is a free and open website where bikers can trade and socialize.</p>
    <p>
        <a href="/BikeListing/Index" class="btn btn-primary btn-lg">Browse bikes &raquo;</a>
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You may browse the website, and take a look at the available bikes, but in order
            to buy or to list a bike for sale, you should create an account here:
        </p>
        <p><a class="btn btn-default" href="/Register/Index">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login to access your account</h2>
        <p>
            If you already have an account please log in, then you can access your previous orders,
            buy bikes, view your shopping list, comment on bikes etc.
        </p>
        <p><a class="btn btn-default" href="/Login/Index">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>List a bike</h2>
        <p>
            If you are logged in, you may want to sell your bike:
        </p>
        <p><a class="btn btn-default" href="/BikeListing/AddBike">Sell bike &raquo;</a></p>
    </div>
</div>
