@{
    ViewBag.Title = "Shopping list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shopping list</h2>

<ul id="listOfShoppingItems">

</ul>

<button id="buyAllFromCart">Buy all</button>

<script src="~/Scripts/UserScripts/shopping_list.js"></script>