@{
    ViewBag.Title = "Shopping list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shopping list</h2>

<table id="tableOfShoppingItems" class="table-bordered">
    <tr>
        <td>Article</td>
        <td>Quantity</td>
    </tr>

</table>

<button id="buyAllFromCart">Buy all</button>

<script src="~/Scripts/UserScripts/shopping_list.js"></script>